.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
    justify-content:center;
}
img {
    width: 50%;
    height: 50%;
}
svg {
    width: 50%;
    height: 50%;
}
.table-user {
    background-color: beige;
    border: 1px solid silver;
    border-collapse: collapse;
}
.table-user td {
    border: 1px solid rgba(170, 131, 5, 0.546);
    padding: 8px;
    text-align: center;
}